.post {
  h1,
  h2 {
    text-align: center;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  p,
  li {
    text-align: justify;
    text-justify: inter-word;
  }

  ol,
  ul,
  p {
    line-height: 1.6;
  }

  li {
    padding-bottom: 0;
  }

  h1 {
    font-size: 1.375em;
    @media (min-width: 480px) {
      font-size: 1.875em;
    }
  }

  h2 {
    font-size: 1.15em;
    @media (min-width: 480px) {
      font-size: 1.35em;
    }
  }

  h3 {
    font-size: 1em;
  }
}
